# docs docker compose
services:
  docs: # live mkdocs container. open localhost:8000 in browser to see the docs
    profiles:
      - ""
      - sitl
      - hitl
      - dev
    image: &image_tag ${PROJECT_DOCKER_REGISTRY}/${PROJECT_NAME}:v${DOCKER_IMAGE_TAG}_mkdocs
    build:
      dockerfile: ./Dockerfile
      tags:
        - *image_tag
    container_name: docs
    ports:
      - "8000:8000"
    volumes:
      - ../../mkdocs.log:/docs/mkdocs.log:rw
      - ../../mkdocs.yml:/docs/mkdocs.yml:ro
      - ../../docs:/docs/docs:rw
      - ../../overrides:/docs/overrides:rw
      - ../stylesheets:/docs/stylesheets
