<launch>

  <node name="local_planner" pkg="local_planner" type="local_planner" output="screen">
    <param name="execute_target" type="double" value="5" />
    
    <param name="trajectory_library_config" type="string" value="$(find trajectory_library)/config/acceleration_magnitudes.yaml" />
    
    <param name="waypoint_spacing" type="double" value="0.2" />
    <param name="obstacle_check_radius" type="double" value="2." />
    <param name="obstacle_check_points" type="int" value="5" />
    <param name="obstacle_penalty_weight" type="double" value="0." />
    <param name="forward_progress_penalty_weight" type="double" value="1.0" />
    <param name="look_past_distance" type="double" value="0" />
    <!-- <param name="use_fixed_height" type="bool" value="true" /> -->
    <!-- 0: use height from global plan, 1: use a fixed height, 2: use range sensors for height above ground setpoint -->
    <param name="height_mode" type="int" value="2" />
    <param name="height_above_ground" type="double" value="1.0" />
    <param name="fixed_height" type="double" value="-18.5" />
    
    <!-- 0: use the yaw from the subscribed trajectory, 1: smoothly vary the yaw in the direction of the subscribed trajectory -->
    <param name="yaw_mode" type="int" value="1" />
    
    <param name="robot_radius" type="double" value="0.6" />
    
    <param name="pointcloud_map/node_spacing" type="double" value="1.0" />
    <param name="pointcloud_map/node_limit" type="int" value="5" />
    <param name="pointcloud_map/target_frame" type="string" value="map" />
    <param name="pointcloud_map/lidar_frame" type="string" value="/uav1/front_laser" />
    <param name="pointcloud_map/lidar_vertical_fov" type="double" value="30." />
    <param name="pointcloud_map/robot_radius" type="double" value="0.6" />
    <param name="pointcloud_map/obstacle_check_radius" type="double" value="2." />
    <param name="pointcloud_map/obstacle_check_points" type="int" value="5" />

    <remap from="/range_up" to="/uav1/teraranger_one_up" />
    <remap from="/range_down" to="/uav1/teraranger_one_down" />
    
    <remap from="/ceye/left/expanded_disparity_fg" to="/uav1/camera/front/disparity_fg" />
    <remap from="/ceye/left/expanded_disparity_bg" to="/uav1/camera/front/disparity_bg" />
    <remap from="/nerian_sp1/right/camera_info" to="/uav1/camera/front/right/camera_info" />

    <remap from="/foreground_disparity" to ="/uav1/camera/front/disparity_fg" />
    <remap from="/background_disparity" to ="/uav1/camera/front/disparity_bg" />
    <remap from="/camera_info" to="/uav1/camera/front/right/camera_info" />
  </node>
  
  <!-- <node name="test_global_planner" pkg="local_planner" type="test_global_planner.py" /> -->
  <!-- <node name="pose_to_path" pkg="local_planner" type="pose_to_path.py" /> -->

  <!-- Disparity -->
  <group ns="/uav1/camera/front">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="front_stereo_image_proc" output="screen" />
  </group>

  <group ns="/uav1/camera/back">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="front_stereo_image_proc" output="screen" />
  </group>

  <group ns="/uav1/camera/left">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="front_stereo_image_proc" output="screen" />
  </group>

  <group ns="/uav1/camera/right">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="front_stereo_image_proc" output="screen" />
  </group>
  
  <group ns="/uav1/camera/top">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="front_stereo_image_proc" output="screen" />
  </group>


  <!-- Obstacle Detection -->
  <node pkg="disparity_expansion" type="disparity_expansion" name="front_disparity_expansion" output="screen" >
    <param name="lut_max_disparity" type="int" value="100" />
    <param name="robot_radius" type="double" value=".25" />
    <param name="bg_multiplier" type="double" value="2.0" />
    <param name="padding" type="double" value="-1" />
    <param name="sensor_pixel_error" type="double" value="0.2" />
    <remap from="/nerian_sp1/right/camera_info" to="/uav1/camera/front/right/camera_info" />
    <remap from="/nerian_sp1/disparity_map_32F" to="/uav1/camera/front/disparity" />

    <remap from="/ceye/left/expanded_disparity_fg" to="/uav1/camera/front/disparity_fg" />
    <remap from="/ceye/left/expanded_disparity_bg" to="/uav1/camera/front/disparity_bg" />
  </node>
  
</launch>
