[submodule "simulation/dronekit-python"]
	path = simulation/dronekit-python
	url = git@github.com:dronekit/dronekit-python.git
[submodule "ros_ws/src/robot/autonomy/controls/px4_ros_com"]
	path = ros_ws/src/robot/autonomy/controls/px4_ros_com
	url = git@github.com:PX4/px4_ros_com.git
	branch = main
[submodule "ros_ws/src/robot/autonomy/controls/px4_msgs"]
	path = ros_ws/src/robot/autonomy/controls/px4_msgs
	url = git@github.com:PX4/px4_msgs.git
	branch = main
[submodule "ros_ws/src/robot/autonomy/world_model/mapping/vdb_mapping"]
	path = ros_ws/src/robot/autonomy/world_model/mapping/vdb_mapping
	url = https://github.com/fzi-forschungszentrum-informatik/vdb_mapping
[submodule "ros_ws/src/robot/autonomy/world_model/mapping/vdb_mapping_ros2"]
	path = ros_ws/src/robot/autonomy/world_model/mapping/vdb_mapping_ros2
	url = https://github.com/fzi-forschungszentrum-informatik/vdb_mapping_ros2
[submodule "ros_ws/src/third_party/perception_pcl"]
	path = ros_ws/src/third_party/perception_pcl
	url = git@github.com:ros-perception/perception_pcl.git
	branch = humble
