[submodule "ros_ws/src/autonomy/global/world_models/vdb_mapping"]
	path = ros_ws/src/autonomy/global/world_models/vdb_mapping
	url = https://github.com/castacks/vdb_mapping.git
[submodule "ros_ws/src/autonomy/global/world_models/vdb_mapping_ros2"]
	path = ros_ws/src/autonomy/global/world_models/vdb_mapping_ros2
	url = https://github.com/castacks/vdb_mapping_ros2.git
[submodule "ros_ws/src/autonomy/perception/macvo_ros2/macvo_ros2/macvo"]
	path = ros_ws/src/autonomy/perception/macvo_ros2/macvo_ros2/macvo
	url = https://github.com/MAC-VO/MAC-VO.git
[submodule "ros_ws/src/rviz_behavior_tree_panel/xdot_cpp"]
	path = ros_ws/src/rviz_behavior_tree_panel/xdot_cpp
	url = https://github.com/castacks/xdot_cpp.git
[submodule "simulation/isaac-sim/extensions/PegasusSimulator"]
	path = simulation/isaac-sim/extensions/PegasusSimulator
	url = https://github.com/castacks/PegasusSimulator-AirStack-Integration.git

