site_name: "AirLab Autonomy Stack"
theme:
  name: material
  logo: assets/logo_horizontal_white.png
  favicon: assets/StackedWhite.png
  palette:
    - scheme: default
      primary: "#CC002B"
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: "#CC002B"
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.path
    - navigation.tabs
    - search.highlight
    - search.suggest
    - toc.integrate
    - content.code.copy

extra_css:
  - stylesheets/extra.css

plugins:
  - search

nav:
  - "Home": "README.md"
  - "User Guide":
      - "Getting Started": "user_guide/getting_started.md"
      - "Tutorials":
          - "Overview": "user_guide/tutorials/overview.md"
          - "Launch": "user_guide/tutorials/launch.md"
      - "Docker Network": "user_guide/docker_network.md"
      - "Planners": "user_guide/planners.md"
      - "API Reference": "user_guide/api_reference.md"
  - "Developer Guide":
      - "Overview": "developer_guide/overview.md"
      - "Autonomy":
          - "Overview": "developer_guide/autonomy/overview.md"
          - "Perception": "developer_guide/autonomy/perception.md"
          - "Mapping": "developer_guide/autonomy/mapping.md"
          - "Global Planning": "developer_guide/autonomy/global_planning.md"
          - "Local Planning": "developer_guide/autonomy/local_planning.md"
          - "Controls": "developer_guide/autonomy/controls.md"
      - "Simulation": "developer_guide/simulation.md"
      - "Contributing": "developer_guide/contributing.md"
  - "About": "about.md"
  - "AirLab Website": "https://theairlab.org"

repo_url: https://github.com/castacks/AirStack
repo_name: castacks/AirStack

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink
