<!-- -->
<launch>
    <set_env name="RCUTILS_CONSOLE_OUTPUT_FORMAT" value="[{name}][{severity}][{time}]: {message}"/>

    <arg name="fname" default="$(find-pkg-share disparity_graph)/data/message.txt"/>

    <node pkg="tf2_ros" exec="static_transform_publisher" name="tf0">
        <param name="translation" value="[4494790.0, 599505.0, -339.471]"/>
        <param name="rotation" value="[0.0, 0.0, 0.0, 1.0]"/>
        <param name="frame_id" value="ned_origin"/>
        <param name="child_frame_id" value="pcs_world"/>
        <param name="period" value="20"/>
    </node>
    
    <node pkg="disparity_graph" exec="disparity_graph" name="disparity_graph" output="screen">
    </node>
</launch>
