Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
ColumnLimit: 100
AccessModifierOffset: -2
IndentAccessModifiers: false
DerivePointerAlignment: false
PointerAlignment: Middle
ReferenceAlignment: Left
InsertBraces: True

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
