/**:
  ros__parameters:
    # Basic setup
    map_frame: map
    robot_frame: base_link
    max_range: 10.0
    resolution: 0.07
    prob_hit: 0.99
    prob_miss: 0.1
    thres_min: 0.49
    thres_max: 0.51
    map_save_dir: ""

    # Visualizations
    publish_pointcloud: true
    publish_vis_marker: true
    visualization_rate: 2.0

    # Sensor input
    accumulate_updates: true
    accumulation_period: 0.2

    apply_raw_sensor_data: true
    sources: [ouster]
    ouster:
      topic: sensors/ouster/point_cloud
      sensor_origin_frame: ouster

    # Remote mapping
    publish_updates: true
    publish_overwrites: true
    publish_sections: true
    section_update:
      rate: 1.0
      min_coord:
        x: -10.0
        y: -10.0
        z: -10.0
      max_coord:
        x: 10.0
        y: 10.0
        z: 10.0


